*{
  margin: 0;
  padding: 0; 
}

:root {

  /*cores*/

    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB; 
    --green: #82BC4F;
    --yelow: #EABD5F;
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292c34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;

  /* font family Asap */
  --font-title: "Asap", sans-serif;
  --title-lg: 800 56px/120% var(--font-title);
  --title-md: 800 24px/120% var(--font-title);
  --title-sm: 800 16px/120% var(--font-title);

      /* Font family Inconsolata */
      --font-sub: "Inconsolata", monospace;
    
      --sub: 400 20px/120% var(--font-sub);

      /* Font family Maven Pro*/

    --font-text: "Maven Pro", sans-serif;

    --text-md: 400 16px/140% var(--font-text);
    --text-sm: 400 14px/140% var(--font-text); 


    body {
      background-color: var(--gray-200);

      h1, h2, h3 {
        color: var(--gray-600);
    }
    
    p,h4{
        color: var(--gray-500);
    }
     h5 {
     font-size: 1.5rem;
     }
    }
    .filter-yellow {
        filter: brightness(0) saturate(100%) invert(79%) sepia(37%) saturate(644%) hue-rotate(349deg) brightness(96%) contrast(90%);
    
    }
    .filter-purple {
      filter: brightness(0) saturate(100%) invert(54%) sepia(23%) saturate(1779%) hue-rotate(309deg) brightness(94%) contrast(88%);
    }
    .filter-green {
        filter: brightness(0) saturate(100%) invert(70%) sepia(6%) saturate(4755%) hue-rotate(49deg) brightness(111%) contrast(55%);
    }
 


}